<div class="container text-center mt-sm text-light-grey">
  <h2 class="title-sm">У этого пользователя пока никто ничего не спросил</h2>
  <div class="container mt-sm">
    <%= fa_stacked_icon 'question', base: 'circle-o' %>
  </div>

  <%= link_to 'спросить', new_question_path(user_id: user), class: 'button button-main' %>
</div>
